.wrapper {
  background: var(--secondary);
  border-bottom: 1px solid var(--border);
  box-shadow: var(--shadow);
  display: flex;
  justify-content: center;
}

.inner {
  padding: 1rem;
  width: 100%;
  max-width: 40rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
