PORT = 3000
DATABASE_URL= postgres://<user>:<password>@<host>:<port>/<database>
SWAGGER_URL=http://localhost:3000
BACK_BLAZE_KEY=SOME_KEY
BACK_BLAZE_KEY_ID=SOME_KEY_ID
BACK_BLAZE_BUCKET_URL=SOME_URL
BACK_BLASE_BUCKET_NAME=SOME_NAME