@import url("uaplus.css");

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
}

body {
  display: flex;
  width: 100%;
  min-height: 100vh;
  margin: 0;
}
#root {
  width: 100%;
}
